{% extends "base.html" %}  

{% block head %}
<title>The Boring Task Manager</title>
{% endblock %}


{% block body %} 
    <h1>Jus testing</h1>
    <div class="content">
        <table>
            <tr>
                <th>Tasks</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td>tasks go here |</td>
                <td>time a task's been added</td>
                <td>| actions u take</td>
            </tr>
        </table>
        <form action="">
            <input type = "text" name = "content" id = "content">
            <input type = "submit" value = "add task" id = "btn_add">
        </form>
    </div>
{% endblock %}